@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfuly!</h1>
        <span>
            Your Order Number is : @Model
        </span>
    </div>
    <div class="col-12 text-center">
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: tomato">
        <br />
        <span>Your Order has been placed successfully! </span>
        <br />
    </div>
</div>